<h1 class="animated fadeIn"> {{ heroe.nombre | uppercase }} <small>({{ heroe.aparicion | date:'y' }})</small></h1>
<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
        <br><br>

        <!--<button type="button" name="button"></button>-->
        <a href="heroes" class="btn btn-outline-danger btn-block" [routerLink]="['/heroes']">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>{{ heroe.nombre }}</h3>
        <hr>
        <p>
            {{ heroe.bio }}
        </p>

        <div class="img">
            <img class="img-dc" *ngIf="heroe.casa == 'DC'" src="assets/img/logo-dc.png" alt="dc">
            <img class="img-marvel" *ngIf="heroe.casa == 'Marvel'" src="assets/img/Logo_marvel.png" alt="marvel">
        </div>
    </div>

</div>